In [41]:
import pandas as pd
import numpy as np
!pip install xlrd >= 2.0.1

file_path = r'C:/Users/Bruno/Desktop/Ironhack/GSAF5.xlsx'

df = pd.read_excel(file_path)

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6977 entries, 0 to 6976
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            6976 non-null   object
 1   Year            6974 non-null   float64
 2   Type            6958 non-null   object
 3   Country         6926 non-null   object
 4   State           6494 non-null   object
 5   Location        6411 non-null   object
 6   Activity        6390 non-null   object
 7   Name            6756 non-null   object
 8   Sex             6397 non-null   object
 9   Age             3981 non-null   object
 10  Injury          6941 non-null   object
 11  Unnamed: 11     6414 non-null   object
 12  Time            3450 non-null   object
 13  Species         3844 non-null   object
 14  Source          6957 non-null   object
 15  pdf             6799 non-null   object
 16  href formula    6794 non-null   object
 17  href            6796 non-null   object
 18  Case Number     6798 non-null   object
 19  Case Number.1   6797 non-null   object
 20  original order  6799 non-null   float64
 21  Unnamed: 21     1 non-null      object
 22  Unnamed: 22     2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB

In [59]:
df.head(20)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-11-01 00:00:00,2024.0,Unprovoked,Hawaii,Maui,Sand Piles Waiehu Beach Park,Surfing,Kenji,M,61,...,Not stated,Glen Folkard: Independent: Fox News: Sky News ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-10-31 00:00:00,2024.0,Unprovoked,Australia,Queensland,Whitsunday Islands,Snorkeling,Not stated,F,57,...,Reported as a large Tiger shark,Simon de Marchi: 9 News: 7 News: ABC News:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-10-25 00:00:00,2024.0,Unprovoked,USA,Florida,"Bathtub Beach, Martin County",Surfing,Cole Taschman,M,27,...,Bull or tiger 7-8ft,Bob Myatt: Yardbarker: 12 on your side: WPTV: ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-10-14 00:00:00,2024.0,Unprovoked,Honduras,Tela,Atlantida,Swimming,Roberto Carlose Bu Mejia,M,38,...,Bull shark,Georgienne Bradley: Daily Mail UK: FTN News.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2024-10-11 00:00:00,2024.0,Unprovoked,USA,Florida,Brevard County Orlando,Surfing,Teddy Witteman,M,16,...,Bull shark 6ft,Todd SmithFlorida today: News 4:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2024-09-17 00:00:00,2024.0,Unprovoked,Honduras,Trujillo Colon,Puerto Castillo,Diving for shellfish,Fernando Mendoza Ocampo,M,33,...,Bull shark 6-7ft,Daily Mail UK: The Sun UK: The World Watch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2024-09-16 00:00:00,2024.0,Unprovoked,Morocco,Southern Morocco,West of Dakhla,Swimming - jumped off yacht,German Tourist,F,30,...,Reportedly a Great White,Andy Currie: Moroccan World News: Sky News,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2024-08-26 00:00:00,2024.0,Unprovoked,Jamaica,Montego Bay,Falmouth,Spearfishing,Jahmari Reid,M,16,...,Reportedly Tiger Shark,Todd Smith: Daily Mail UK: Sky News: People .com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2024-08-06 00:00:00,2024.0,Unprovoked,Belize,Gulf of Honduras,Central America,Swimming - Diving,Annabelle Carlson,F,15,...,Reef shark 6ft (1.8m),Kevin McMurray Tracking Sharks.com New York Po...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2024-07-23 00:00:00,2024.0,Unprovoked,Australia,NSW,"North Shore Beach, Port Macquarie",Surfing,Kai McKenzie,M,23,...,3m White Shark,Nine.com.au: ABC.Net.Au Johannes Marchand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2024-07-18 00:00:00,2024.0,Unprovoked,Australia,Western Australia,Trigg beach Sterling,Surfing,Ryan Lowther,M,41,...,Undetermined small shall shark,Daily Mail: Sky News: The West Australian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2024-07-08 00:00:00,2024.0,Unprovoked,USA,Florida,Ponce de Leon Inlet Volusia County,Diving into Water,Dempsey Manhart,M,14,...,4-5ft Blacktip shark,Miami Herald,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2024-07-05 00:00:00,2024.0,Unprovoked,USA,Florida,New Smyrna Beach,Wading,Not stated,M,26,...,Not specified,Sacbee Fox 35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2024-07-04 00:00:00,2024.0,Unprovoked,USA,Texas,South Padre Island,Swimming,Tabatha Sullivant,F,Middle age,...,Bull shark 6 ft,NBCDFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2024-07-04 00:00:00,2026.0,Unprovoked,USA,Texas,South Padre Island,Swimming,Victoria Ramos,F,18,...,6 ft shark,Valley Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2024-07-04 00:00:00,2025.0,Unprovoked,USA,Texas,South Padre Island,Swimming,Victoria Bazaldua,F,18,...,6 ft shark,CNN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2024-07-04 00:00:00,2024.0,Unprovoked,USA,Floria,New Smyrna Beach,Playing football in the water,Connor Graham Baker,M,21,...,Not specified,Click Orlando News Journal on Line,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2024-07-04 00:00:00,2024.0,Unprovoked,USA,Florida,New Smyrna Beach Beach Access 14 Volusia County,Swimming,Not released,M,NaN,...,6ft shark,Brietbart .com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2024-06-07 00:00:00,2024.0,Unprovoked,USA,Florida,Rosemary Beach Walton County,Swimming,Elisabeth Foley,F,45,...,Not specified Bull shark highly suspect,12onyourside.com: News Channel 7wjhg : Al.Com:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
df.tail()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
6972,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6973,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6974,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6975,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6976,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [55]:
df.shape

(6977, 23)