# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [7]:
# Your code here
import pandas as pd
import numpy as np

insurance_df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')

In [8]:
insurance_df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [9]:
insurance_df.tail()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
insurance_df.shape

(4008, 11)

In [11]:
insurance_df.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [12]:
insurance_df.nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [13]:
insurance_df['Customer Lifetime Value'] = insurance_df['Customer Lifetime Value'].str.replace('%', '', regex=False).astype(float) / 100

In [14]:
insurance_df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,6979.5359,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,12887.4317,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,7645.8618,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,5363.0765,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [15]:
insurance_df.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value      float64
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [16]:
insurance_df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,6979.5359,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,12887.4317,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,7645.8618,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,5363.0765,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [17]:
insurance_df.nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [18]:
insurance_df.select_dtypes(include='object').head()

,Customer,ST,GENDER,Education,Number of Open Complaints,Policy Type,Vehicle Class
0,RB50392,Washington,NaN,Master,1/0/00,Personal Auto,Four-Door Car
1,QZ44356,Arizona,F,Bachelor,1/0/00,Personal Auto,Four-Door Car
2,AI49188,Nevada,F,Bachelor,1/0/00,Personal Auto,Two-Door Car
3,WW63253,California,M,Bachelor,1/0/00,Corporate Auto,SUV
4,GA49547,Washington,M,High School or Below,1/0/00,Personal Auto,Four-Door Car

In [19]:
insurance_df['Customer'].unique()

array(['RB50392', 'QZ44356', 'AI49188', ..., 'CW49887', 'MY31220', nan],
      dtype=object)

In [20]:
insurance_df['ST'].unique() #This are states form the United States. California, Washington and Arizona are represented two times with different names. Technically there are only 5 states being analysed.

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [21]:
insurance_df['GENDER'].unique() #We have Female and Male represented with different inputs. Only two genders being analysed.

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [22]:
insurance_df['Education'].unique() #Bachelor represented three times - Bachelor, College and Bachelors.

array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor', nan], dtype=object)

In [23]:
insurance_df['Number of Open Complaints'].unique() #Dubious representation of number of open complaints. Not clear.

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan],
      dtype=object)

In [24]:
insurance_df['Policy Type'].unique()

array(['Personal Auto', 'Corporate Auto', 'Special Auto', nan],
      dtype=object)

In [25]:
insurance_df['Vehicle Class'].unique() # Not the best representation of different cars. A two door car could be a Sports Car too. A Sports Car can be a Luxury car. Probably it would be better to find a better representation for each type of car.

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car', nan], dtype=object)

In [26]:
insurance_df.select_dtypes(include='float').head()

   Customer Lifetime Value   Income  Monthly Premium Auto  Total Claim Amount
0                      NaN      0.0                1000.0            2.704934
1                6979.5359      0.0                  94.0         1131.464935
2               12887.4317  48767.0                 108.0          566.472247
3                7645.8618      0.0                 106.0          529.881344
4                5363.0765  36357.0                  68.0           17.269323

In [27]:
insurance_df['Customer Lifetime Value'].min() #The minimum expected from a client of the company along the years of relashionship.

2004.3507

In [28]:
insurance_df['Customer Lifetime Value'].max() #The maximumexpected from a client of the company along the years of relashionship.

58166.553499999995

In [29]:
insurance_df['Income'].min() #This means that there ia at least one customer that does not have income.

0.0

In [30]:
insurance_df['Income'].max() #In contrast, the is a least one customer that receives a very high income.

99960.0

In [31]:
insurance_df['Monthly Premium Auto'].min() #Every client pays for car insurance. The minimum pay is 61 euros.

61.0

In [32]:
insurance_df['Monthly Premium Auto'].max() #The company has very high income clients that can pay a lot for their car insurance. Probably someone with sa luxury car, as we were able to understand when we analysed the Vehicle Class series.

35354.0

In [33]:
insurance_df['Total Claim Amount'].min() #Client that barely used any money from the insurance company. Every client activated the insurance for the car at least once. Since the minimum value expected from a client is 2004.3507 this means that the company is making a lot of money here.

0.382107

In [34]:
insurance_df['Total Claim Amount'].max() #The client with the highest usage of insurance money. Since the maximum value expected from a client is 58166.553499999995 this means that this value gets easily covered.

2893.239678

In [35]:
insurance_df.describe()

,Customer Lifetime Value,Income,Monthly Premium Auto,Total Claim Amount
count,1068.000000,1071.000000,1071.000000,1071.000000
mean,7936.902593,39295.701214,193.234360,404.986909
std,6434.784103,30469.427060,1601.190369,293.027260
min,2004.350700,0.000000,61.000000,0.382107
25%,4034.079950,14072.000000,68.000000,202.157702
50%,5881.742350,36234.000000,83.000000,354.729129
75%,8962.871975,64631.000000,109.500000,532.800000
max,58166.553500,99960.000000,35354.000000,2893.239678

In [36]:
# Customer Lifetime Value - Median is lower than the mean, suggesting a right-skewed distribution where some customers have significantly higher lifetime values that raise the average. Standard Deviation shows a considerable spread, which implies a wide range of customer values. The minimum value is 2004.35 and the maximum 58166.55 which indicates that the customer values vary greatly.Q1 = 4034.08 suggests that 25% of customers have a lifetime value below this amount. Q3 = 8962.87, indicating that 75% of customers have a lifetime value below this, while 25% have more.

# Income - Median close to the Mean, meaning a relatively symmetric distribution. Standard Variation suggests a significant variation in customer income levels. The minimum is 0, indicating some customers have no reported income, and the maximum is 99960. Q1 = 14072.00, indicating that 25% of customers earn less than this. Q3 = 64631.00, indicating 75% earn below this amount, and 25% earn more.The distribution of income shows significant variability, with some customers potentially having very low or no income, leading to a wide range and high standard deviation.

# Monthly Premium Auto - Same as Customer Lifetime Value, median much lower than the mean, suggesting a highly right-skewed distribution with some very high premiums affecting the mean. Standard deviation indicates high variability. The min and max value have a very big difference, from a min of 61 to an extremely high max of 35354, likely indicating outliers. Q1 = 68.00, showing that 25% of premiums are below this amount. Q3 =109.50, indicating that 75% of premiums are below this level, with 25% significantly higher. Very high outliers indicated by the large standard deviation and a mean significantly greater than the median.

# Total Claim Amount - Median slightly lower than the mean, suggesting a mildly right-skewed distribution. Standard Deviation showing moderate variability in claim amounts. Min very low but max very high, showing that some claims are significantly higher than the average. Q1 = 202.16, indicating that 25% of claims are below this value. Q3 = 532.80, showing that 75% of claims are below this value. The distribution seems moderately right-skewed, with a few high-value claims affecting the mean.

In [37]:
insurance_df.select_dtypes(include='object').head()

,Customer,ST,GENDER,Education,Number of Open Complaints,Policy Type,Vehicle Class
0,RB50392,Washington,NaN,Master,1/0/00,Personal Auto,Four-Door Car
1,QZ44356,Arizona,F,Bachelor,1/0/00,Personal Auto,Four-Door Car
2,AI49188,Nevada,F,Bachelor,1/0/00,Personal Auto,Two-Door Car
3,WW63253,California,M,Bachelor,1/0/00,Corporate Auto,SUV
4,GA49547,Washington,M,High School or Below,1/0/00,Personal Auto,Four-Door Car

In [38]:
insurance_df['Customer'].nunique()

1071

In [39]:
insurance_df['Customer'].value_counts()

Customer
RB50392    1
HJ15383    1
AO74776    1
HQ82233    1
OL72737    1
          ..
RO26085    1
ES57969    1
JK55587    1
RN97635    1
MY31220    1
Name: count, Length: 1071, dtype: int64

In [40]:
# Identification Column, 1 unique value per person.

In [41]:
insurance_df['ST'].nunique()

8

In [42]:
insurance_df['ST'].value_counts()

ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

In [43]:
# Even tho there are 8 unique values, in reality there is only 5, since California, Washington and Arizona are represented twice, with different names. There are more people from California, followerd by Oregon and Arizona.

In [44]:
insurance_df['GENDER'].nunique()

5

In [45]:
insurance_df['GENDER'].value_counts()

GENDER
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64

In [46]:
# As previously mentioned, even though there are 5 unique values, in reality there are only 2, Male and Female. There are 3 female values and 2 male values represented differently. There are more females than males.

In [47]:
insurance_df['Education'].nunique()

6

In [48]:
insurance_df['Education'].value_counts()

Education
Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: count, dtype: int64

In [49]:
# Bachelor, Bachelors and College is the same. There are more people with a university graduation or a higher degree that people without a degree.

In [50]:
insurance_df['Number of Open Complaints'].nunique()

6

In [51]:
insurance_df['Number of Open Complaints'].value_counts()

Number of Open Complaints
1/0/00    830
1/1/00    138
1/2/00     50
1/3/00     34
1/4/00     13
1/5/00      6
Name: count, dtype: int64

In [52]:
# Confusing layout for complaints.

In [53]:
insurance_df['Policy Type'].nunique()

3

In [54]:
insurance_df['Policy Type'].value_counts()

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

In [55]:
# Most people have a personal car.

In [56]:
insurance_df['Vehicle Class'].nunique()

6

In [57]:
insurance_df['Vehicle Class'].value_counts()

Vehicle Class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64

In [58]:
# Vehicle Class not well defined. A two door car can be a sports car. A sports car can be a luxury car. Every can can have 4 doors or 2 doors.

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [62]:
# Your code here

st_series = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv', usecols=["ST"]).squeeze("columns")

print(st_series)

0       Washington
1          Arizona
2           Nevada
3       California
4       Washington
           ...
4003           NaN
4004           NaN
4005           NaN
4006           NaN
4007           NaN
Name: ST, Length: 4008, dtype: object

In [63]:
st_series.sort_values()

516      AZ
473      AZ
474      AZ
96       AZ
98       AZ
       ...
4003    NaN
4004    NaN
4005    NaN
4006    NaN
4007    NaN
Name: ST, Length: 4008, dtype: object

In [64]:
st_series.value_counts(ascending= True)

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Arizona       186
California    211
Oregon        320
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [67]:
# Your code here

policy_series = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv', usecols=["Policy Type"]).squeeze("columns")

In [68]:
policy_series.value_counts(ascending= False)

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

In [69]:
policy_series.value_counts().idxmax()

'Personal Auto'

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [72]:
# Your code here

personal_auto_df = insurance_df.loc[insurance_df['Policy Type'] == 'Personal Auto']
corporate_auto_df = insurance_df.loc[insurance_df['Policy Type'] == 'Corporate Auto']

display(personal_auto_df)
display(corporate_auto_df)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,6979.5359,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,12887.4317,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
4,GA49547,Washington,M,High School or Below,5363.0765,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,8256.2978,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
1065,XD85577,Cali,M,Bachelor,2842.2669,69417.0,73.0,1/1/00,Personal Auto,Four-Door Car,30.874869
1066,TM65736,Oregon,M,Master,3059.5503,38644.0,78.0,1/1/00,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,Cali,F,High School or Below,20314.9976,63209.0,102.0,1/2/00,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,3239.1247,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1070,MY31220,California,F,College,8997.0402,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
3,WW63253,California,M,Bachelor,7645.8618,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
6,XZ87318,Oregon,F,College,5380.8986,55350.0,67.0,1/0/00,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,M,Master,7216.1003,0.0,101.0,1/0/00,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,M,Bachelor,24127.5040,14072.0,71.0,1/0/00,Corporate Auto,Four-Door Car,511.200000
12,DP39365,California,NaN,Master,8798.7970,77026.0,110.0,1/2/00,Corporate Auto,Four-Door Car,472.029737
...,...,...,...,...,...,...,...,...,...,...,...
1045,WZ31900,Oregon,F,Bachelor,8649.7006,94389.0,107.0,1/0/00,Corporate Auto,SUV,85.063708
1050,BJ53923,Arizona,M,High School or Below,2600.2721,51978.0,66.0,1/0/00,Corporate Auto,Four-Door Car,144.782152
1052,FB23788,Oregon,M,High School or Below,8828.8350,86721.0,111.0,1/0/00,Corporate Auto,SUV,532.800000
1056,PI47776,Oregon,F,Bachelor,2530.7051,89451.0,63.0,1/0/00,Corporate Auto,Four-Door Car,61.769564
1059,YG44474,Oregon,M,College,14014.7213,54193.0,117.0,1/0/00,Corporate Auto,SUV,720.752945

In [73]:
print('Average Income Personal Auto:')
print(personal_auto_df['Income'].mean())
print('Average Income Corporate Auto:')
print(corporate_auto_df['Income'].mean())

Average Income Personal Auto:
38180.69871794872
Average Income Corporate Auto:
41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [79]:
# Your code here

insurance_df['Total Claim Amount'].describe()

count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: Total Claim Amount, dtype: float64

In [85]:
percentile_75 = insurance_df['Total Claim Amount'].quantile(0.75)
print(percentile_75)

532.8

In [91]:
high_claim_df = insurance_df[insurance_df['Total Claim Amount'] > percentile_75]
display(high_claim_df)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
1,QZ44356,Arizona,F,Bachelor,6979.5359,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,12887.4317,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
17,OE15005,Cali,NaN,College,3945.2416,28855.0,101.0,1/0/00,Personal Auto,SUV,647.442031
23,TZ98966,Nevada,NaN,Bachelor,2450.1910,0.0,73.0,1/3/00,Corporate Auto,Four-Door Car,554.376763
26,US89481,California,NaN,Bachelor,3946.3721,0.0,111.0,1/0/00,Personal Auto,Four-Door Car,799.200000
...,...,...,...,...,...,...,...,...,...,...,...
1059,YG44474,Oregon,M,College,14014.7213,54193.0,117.0,1/0/00,Corporate Auto,SUV,720.752945
1061,RY92647,Cali,F,Bachelor,10506.7717,0.0,92.0,1/0/00,Personal Auto,Four-Door Car,546.524896
1068,GS98873,Arizona,F,Bachelor,3239.1247,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,4626.8011,79487.0,114.0,1/0/00,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,8997.0402,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

In [93]:
high_claim_df.describe()

,Customer Lifetime Value,Income,Monthly Premium Auto,Total Claim Amount
count,264.000000,264.000000,264.000000,264.000000
mean,9086.868131,23677.344697,165.193182,782.228263
std,6387.677898,27013.483721,623.930992,292.751640
min,2287.596900,0.000000,63.000000,537.600000
25%,4723.957925,0.000000,99.000000,606.521741
50%,7781.768250,18807.000000,114.000000,679.597985
75%,10544.299275,42423.750000,133.250000,851.400000
max,38445.855900,99316.000000,10202.000000,2893.239678